body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

.navbar {
    background-color: #1a1a1a;
    color: #fff;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.nav-list a:hover {
    color: #ffc107;
}

.section {
    padding: 80px 20px;
    text-align: center;
}

.home {
    background-color: #333;
    color: #fff;
}

.projects,
.experience,
.contact {
    background-color: #fff;
    color: #333;
}

.projects h2,
.experience h2,
.contact h2 {
    color: #1a1a1a;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    background-color: #fff;
    height: 5px;
    width: 30px;
    margin: 6px 0;
}

@media only screen and (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #1a1a1a;
        z-index: 1;
    }

    .nav-list.show {
        display: flex;
    }

    .nav-list li {
        margin: 0;
        text-align: center;
        padding: 10px;
    }

    .burger-menu {
        display: flex;
    }
}
.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

img {
    width: 100%;
}